*.log
*.log.*
.*.swp
.*.swo
*.pyc
__pycache__/
debug/
*.nnf
cyoog.cfg
Session.vim
asp_py_lextab.py
asp_py_parsetab.py
venv/
pip-selfcheck.json
man/
share/
PowerGrASP.egg-info/
dist/
.zcache/
oog/
benchmarks/
